@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /*--background: #0573e8; !* blue-500 *!*/
    /*--foreground: #ffffff;*/
    --font-poppins: 'Poppins', serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*@media (prefers-color-scheme: dark) {*/
/*    :root {*/
/*        --background: #0573e8; !* blue-900 *!*/
/*        --foreground: #ffffff;*/
/*    }*/
/*}*/

body {
    font-family: var(--font-poppins);
    font-weight: 400;
    font-size: clamp(1rem, 1vw, 1.5rem);
}

h1 {
    font-family: var(--font-poppins);
    font-weight: 700;
    font-size: clamp(3rem, 4vw, 5rem);
}

h2 {
    font-family: var(--font-poppins);
    font-weight: 700;
    font-size: clamp(2rem, 3vw, 4rem);
}

h3 {
    font-family: var(--font-poppins);
    font-weight: 700;
    font-size: clamp(1rem, 2vw, 3rem);
}

h5 {
    font-family: var(--font-poppins);
    font-weight: 700;
    font-size: clamp(1rem, 1.5vw, 2rem);
}

p, a, li {
    font-family: var(--font-poppins);
    font-weight: 400;
    font-size: clamp(1rem, 1.8vw, 1.5rem);
}

.icon {
    width: clamp(4rem, 8vw, 8rem);
    height: clamp(4rem, 8vw, 8rem);
}